---
layout: layout.liquid
title: The Galactic Explorations Blog
---

<h2>Welcome to The Galactic Exploration Blog!</h2>
<img class="moon" alt="Moon" src="/images/moon.png" />
<p>Hello exploration enthusiast, and welcome to our blog! We have been participating in galactic exploration for many years now, and love sharing our 
adventures, findings, and general stories with you all! We make sure to always have something interesting for you all to read, and therefore we explore new areas frequently. 
Interested in reading our latest blog posts? Look below and select the blog post that interests you! Happy exploring and happy reading!</p>

<p><a href="/blog1/">Our New Spacecraft</a></p>
<p><a href="/blog2/">Did We Just Discover a New Element?</a></p>