---
title: The Galactic Exploration Blog
---

<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>{{ title }}</title>
  <link rel="stylesheet" href="/styles/screen.css">
</head>
<body>
  <header>
    <div class="head">
      <h3>Welcome explorers...</h3>
    </div>
  </header>
  <nav>
    <ul>
      <li><a href="/" title="Go home">Home</a></li>
      <li><a href="/about/" title="About us">About</a></li>
    </ul>
  </nav>
    {{ content }}

  <footer>
    <div class="foot">
      <p>Copyright John Landers 2024</p>
    </div>
  </footer>
</body>
</html>